@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'fira sans';
    background-color: #F1F1F3;
}
main {
    margin: 0px 160px 0px 160px;
}
button {
    cursor: pointer;
}
.header {
    margin-bottom: 80px;
}
section {
    margin-bottom: 80px;
}
.header .nav-bar {
    width: 1280px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .nav-bar h1 {
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}
.header .nav-bar .sign-in {
    padding: 15px 30px;
    border: 1px solid #006A50;
    color: #006A50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    transition: .3s ease-in;
}
.header .nav-bar .sign-in:hover {
    color: rgba(9, 161, 92, .7);
    padding: 16px 32px;
    font-size: 19px;
}
.header .banner {
    height: 560px;
    width: 1280px;
    background-color: #C6E4D6;
    border-radius: 24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}
.header .banner .banner-text {
    width: 615px;
    height: 326px;
}

.header .banner .banner-text .subtitle {
    font-weight: 500;
    font-size: 24px;
    color: #0E0E0E;
    opacity: .5;
    margin-bottom: 16px;
}
.header .banner .banner-text .title {
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.header .banner .banner-text .explore-bd {
    padding: 16px 34px;
    border: none;
    color: #ffffff;
    background-color: #006A50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    transition: .3s ease-in; 
}
.header .banner .banner-text .explore-bd:hover {
    background-color: rgba(9, 161, 92, .7);
    padding: 17px 35px;
    font-size: 19px;
}
.header .banner .banner-img {
    height: 400px;
    width: 474px;
    background: url(../assets/hero.png);
    background-repeat: no-repeat;
}
.section-1 {
    height: 384px;
    width: 1280px;
}
.section-1 .title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 32px;
    color: #0E0E0E;
}
.section-1 .cards {
    height: 244px;
    width: 1280px;
    display: flex;
    justify-content: space-between;
}
.section-1 .cards .card {
    width: 302px;
    height: 244px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
.section-1 .cards .card-content {
    width: 254px;
    height: 184px;
}
.section-1 .cards .card .card-img {
    background: url(../assets/card-icon.png);
    height: 64px;
    width: 64px;
}
.section-1 .cards .card .card-title {
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin-top: 24px;
    margin-bottom: 12px;
}
.section-1 .cards .card .card-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    line-height: 24px;
}
.section-2 {
    width: 1280px;
    height: 765px;
}
.section-2 .title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
    color: #0E0E0E;
}
.section-2 .description {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
    margin-bottom: 32px;
}
.section-2 .cards {
    height: 325px;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-2 .cards .card {
    width: 411px;
    height: 325px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-2 .cards .card-1 {
    background-color: rgba(84, 144, 245, 0.2);
}
.section-2 .cards .card-2 {
    background-color: rgba(198, 228, 214, 1);
}
.section-2 .cards .card-3 {
    background-color: rgba(247, 235, 207, 1);
}
.section-2 .cards .card-1 .card-btn {
    background-color: #5490F5;
    color: #ffffff;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    transition: .3s ease-in;
}
.section-2 .cards .card-1 .card-btn:hover {
    background-color: rgba(84, 144, 245, .7);
    padding: 12px 22px;
}
.section-2 .cards .card-2 .card-btn {
    background-color: #09A15C;
    color: #ffffff;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    transition: .3s ease-in;
}
.section-2 .cards .card-2 .card-btn:hover {
    background-color: rgba(9, 161, 92, .7);
    padding: 12px 22px;
}
.section-2 .cards .card-3 .card-btn {
    background-color: #FFC239;
    color: #ffffff;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    transition: .3s ease-in;
}
.section-2 .cards .card-3 .card-btn:hover {
    background-color: rgba(255, 194, 57, .7);
    padding: 12px 22px;
}
.section-2 .cards .card .card-content {
    width: 346px;
    height: 260px;
}
.section-2 .cards .card .card-img {
    background: url(../assets/card-icon.png);
    height: 64px;
    width: 64px;
    margin-bottom: 24px;
}
.section-2 .cards .card .card-title {
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}
.section-2 .cards .card .card-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}
.section-2 .quotes-container {
    background: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position-x: 24px;
    background-position-y: 25px;
    width: 1280px;
    height: 256px;
    margin-top: 32px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-2 .quotes-container .quotes {
    
    background-repeat: no-repeat;
    width: 1232px;
    height: 160px;
}
.section-2 .quotes-container .quotes .description {
    line-height: 24px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 24px;
}
.section-2 .quotes-container .quotes .title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 0;
}
.section-2 .quotes-container .quotes .subtitle {
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.6);
}
.section-3 {
    width: 1280px;
    height: 481px;
}
.section-3 .title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
    color: #0E0E0E;
}
.section-3 .table-container {
    width: 1280px;
    height: 409px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-3 table thead {
    background-color: #C6E4D6;
    text-align: left;
}
.section-3 table .head-data1 {
    padding: 24px;
    border-right: none;
    font-size: 20px;
}
.section-3 table .data {
    padding:36.5px 370px 36.5px 24px;
    color: #0E0E0E;
    font-weight: 600;
}
.section-3 table .selection {
    padding: 24px;
}
table, td,th {
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-collapse: collapse;
}
th .span-1 {
    padding-right: 910px;
}
.section-3 table select {
    font-weight: bold;
    background-color: rgba(198, 228, 214, 1);
    border: 3px solid #0E0E0E;
    height: 44px;
    width: 152px;
    border-radius: 8px;
    padding: 12.5px 16.5px;
    
}
.section-4 {
    width: 1280px;
    height: 1406px;
}
.section-4 .title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 32px;
    color: #0E0E0E;
}
.section-4 .description {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
    margin-bottom: 32px;
}
.section-4 .cards .card-container .card {
    width: 1280px;
    height: 402px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 24px;;
    border-radius: 24px;
}
.section-4 .cards .card-container .card .card-img {
    height: 306px;
    width: 408px;
    background: url(../assets/satelite.png);
    border-radius: 24px;
}
.section-4 .cards .card-container .card .card-text {
    width: 744px;
    height: 290px;
}
.section-4 .cards .card-container .card .card-title {
    font-size: 32px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}
.section-4 .cards .card-container .card .card-subtitle {
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 12px;
    margin-bottom: 12px;
}
.section-4 .cards .card-container .card .card-description {
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}
.section-4 .cards .card-container .card .card-btn {
    padding: 13px 26px;
    border: none;
    background-color: #006A50;
    color: #ffffff;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    transition: .3s ease-in;
    margin-top: 32px;
}
.section-5 {
    width: 1280px;
    height: 464px;
}
.section-5 .title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
    color: #0E0E0E;
    text-align: center;
}
.section-5 .description {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
    margin-bottom: 32px;
    text-align: center;
}
.section-5 .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 32px;
}
.section-5 .cards .card {
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    padding: 40px;
    background-color: #ffffff;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}
.section-5 .cards .card-diff {
    background-color: #C6E4D6;
}
.section-5 .input-div {
    text-align: center;
}
.section-5 .input-div input {
    height: 64px;
    width: 1032px;
    border: none;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    font-size: 20px;
    text-align: center;
}
.section-5 .btn-div .btn-box {
    padding: 17px 34px;
    border: none;
    color: #ffffff;
    background-color: #006A50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 32px;
    transition: .3s ease-in; 
}
.section-5 .btn-div {
    text-align: center;
}
.section-6 {
    width: 1280px;
    height: 395px;
    background-color: #C6E4D6;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-6 .text-container {
    width: 750px;
    height: 235px;
}
.section-6 .text-container .title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #0E0E0E;
    text-align: center;
}
.section-6 .text-container .description {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
    margin-bottom: 24px;
    text-align: center;
}
.section-6 .text-container .int-btn {
    height: 56px;
    width: 750px;
    display: flex;
    align-items: center;
}
.section-6 .text-container .int-btn input {
    height: 55px;
    width: 600px;
    border: none;
}
.section-6 .text-container .int-btn .btn-box {
    padding: 17px 34px;
    border: none;
    color: #ffffff;
    background-color: #006A50;
    border-radius: 0 8px 8px 0;
    font-size: 18px;
    font-weight: 600;
    transition: .3s ease-in; 
}
.section-6 .text-container .subtitle {
    text-align: center;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 24px;
}